$desktop-container: 1600px;
$grid-columns: 12;
$grid-breakpoints: (
  xsmall: 320px,
  small: 480px,
  medium: 800px,
  large: 1080px,
  xlarge: 1600px
);
@each $size, $width in $grid-breakpoints {
  @media screen and (min-width: $width) {
    @for $n from 1 through $grid-columns {
      .#{$size}-#{$n} {
        flex-basis: percentage((100 / $n) / 100);
        flex-grow: 0;
        max-width: percentage((100 / $n) / 100);
      }
      @for $m from 1 through $n {
        .#{$size}-#{$n}-#{$m} {
          flex-basis: percentage((100 / $n * $m) / 100);
          flex-grow: 0;
          max-width: percentage((100 / $n * $m) / 100);
        }
      }
    }
  }
}

.container {
  width: 100%;
  max-width: $desktop-container;
  margin: 0 auto;
  padding: 0 10px;

  &.grid-list-lg {
    .layout {
      .flex {
        padding: 10px;
      }
      &:not(:only-child), &:only-child {
        margin: 0 -10px;
      }
    }
  }
  &.grid-list-sm {
    .layout {
      .flex {
        padding: 5px;
      }
      &:not(:only-child), &:only-child {
        margin: 0 -5px;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 0;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    &.grid-list-lg {
      .layout {
        .flex {
          padding: 6px;
        }
        &:not(:only-child), &:only-child {
          margin: 0 -6px;
        }
      }
    }
  }
}
